<div class="hstack gap-3 mb-3 nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
  <%= form.collection_select :clay_id, Clay.order(:id), :id, :name, include_blank: true, hide_label: true, required: true, wrapper: {class: false} %>
  <%= form.number_field :weight, hide_label: true, wrapper: {class: false} %>
  <span>g</span>
  <div>
    <button type="button" class="btn btn-outline-danger" data-action="nested-form#remove">削除</button>
  </div>
  <%= form.hidden_field :_destroy %>
</div>
