<div class="hstack gap-3 mb-3" data-nested-form-target="item">
  <%= form.collection_select :glaze_id, Glaze.order(:id), :id, :name, include_blank: true, hide_label: true, wrapper: {class: false} %>
  <div>
    <button type="button" class="btn btn-outline-danger" data-nested-form-target="removeButton" data-action="click->nested-form#remove">削除</button>
  </div>
</div>
