<h1 class="mb-3">みんなの作品一覧</h1>

<div class="grid mb-3">
  <% @pieces.each do |piece| %>
    <div
      class="g-col-6 g-col-md-4 d-grid row-gap-0 card"
      style="grid-row: span 3; grid-template-rows: subgrid;"
    >

    <% if piece.photos.present? %>
      <div class="d-flex align-items-center bg-light">
        <%= image_tag piece.photos.first.file, class: 'w-100', alt: '' %>
      </div>
    <% else %>
      <div class="bg-light d-flex justify-content-center align-items-center">
        <p class="text-secondary pt-3">NO IMAGE</p>
      </div>
    <% end %>

      <div
        class="card-body d-grid"
        style="grid-row: span 2; grid-template-rows: subgrid;"
      >
        <h5 class="card-title">
          <%= link_to piece.title, piece_path(piece), class: 'text-decoration-none stretched-link' %>
        </h5>

        <p><%= piece.user.name %>さんの作品</p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to '戻る', home_path, class: 'btn btn-outline-primary' %>
