<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to current_studio.name, studio_path(current_studio) %>
    </li>

    <li class="breadcrumb-item active" aria-current="page">設定</li>
  </ol>
</nav>

<div class="list-group w-75 mx-auto">
  <%= link_to '土', studio_clays_path(current_studio), class: 'list-group-item list-group-item-action' %>
  <%= link_to '釉薬', studio_glazes_path(current_studio), class: 'list-group-item list-group-item-action' %>
</div>
