<h1 class="mb-3 text-center">所属教室</h1>
<div class="hstack justify-content-center">
  <% @studios.each do |studio| %>
    <%= link_to studio.name, studio_path(studio), class: 'btn btn-outline-primary' %>
  <% end %>
</div>
