<h1 class="text-center mb-3">作品を記録してシェアしよう</h1>
<h2 class="text-center mb-3"><%= @studio.name %></h2>

<div class="d-flex flex-column align-items-center">
  <%= link_to '自分の作品一覧', studio_my_pieces_path(@studio), class: 'btn btn-outline-primary mb-3 w-50' %>
  <%# <%= link_to 'みんなの作品一覧', pieces_path, class: 'btn btn-outline-primary w-50' %1> %>
</div>
