<%= render 'breadcrumb', items: [
  [current_studio.name, studio_path(current_studio)],
  ['設定', studio_settings_path(current_studio)],
  'メンバー'
] %>

<ul class="list-group w-75 mx-auto">
  <% @members.each do |member| %>
    <li class="list-group-item d-flex">
      <div class="me-auto">
        <%= member.name %>
      </div>

      <%= button_to '削除', studio_member_path(current_studio, member), method: :delete, class: 'btn btn-danger', form: {data: {turbo_confirm: '本当に削除しますか？'}} %>
    </li>
  <% end %>
</ul>
